// File for scss-vars.
// For example: main colors, paddings and so on.
$color-shiny-orange: #fcb53b;
$color-shiny-orange2: #fcbc4e;
$color-gold-costum: #fdcb75;
$color-pale-yellow-green: #fdda9d;

$color-high-orange: #f57f29;
$color-moderate-orange-yellow: #f68c3e;
$color-orange-tan-edge: #f8a569;
$color-orange-macaroni-and-cheese: #fabf94;

$color-red-orange: #ee2d24;
$color-red-orange-2: #f04239;
$color-light-pink: #f36c65;
$color-moderately-pink: #f69691;

$color-irish-greenk: #46ba01;

$color-black-brown: #231f20;
$color-mother-of-pearl-dark-gray: #818285;
$color-grey-neutral: #a7a9ac;
$color-gainsborough: #e3e3e4;
$color-smoky-white: #ededed;
$color-smoky-white2: #f1f1f2;
$color-smoky-white3: #f6f6f6;

$color-menu-link: #1f1f1f;
$color-menu-top-link: #211f1f;

$color-who-author: #7f8085;

$color-news-title: #221f1f;

$color-error-text: #808185;

$color-table-caption: #7f7f85;
$color-table-border: #d7d7d9;
$color-table-th-green: #46b900;
